body{
	width: 768px;
	margin: auto;
	font-family: "Microsoft YaHei";
	font-size: 12.5;
	color: #c1bfbf;
}
li a:link,li a:visited{
	text-decoration: none;
}
header{
	height: 180px;
	//background-color: blue;
	margin-bottom: 0;
}
div.nav ul{
}
#logo{
	//margin-left: 50px;
}
#loginout p {
	text-align: right;
	margin-right: 25px;
}
#loginout p a:link{
	color: silver;
	font-size: 14px;
}
#head1{
	font-size: 72px;
	color: #4bce5f;
	font-weight: bold;
}
#head2{
	font-size: 14px;
	color: #f9c308;
	margin-left: 70px;
}
#search{
	display: inline;
	float: right;
	margin-right: 25px;
}
#searchbutton{
	font-size: 18px;
	margin-left: 0;
	color: white;
	border-spacing: 0;
	text-decoration:none;
	background-color: #ccd0cd;
	padding: 2px 10px 6px 10px;
}
#searchinput{
	margin-right: 0;
	font-size: 18px;
	padding: 0;
	width: 200px;
	height: 32px;
	padding-left: 2px;
	font-family: "Franklin Gothic Medium";
}
#mainnav{
	margin-top: 0px;
	background-color: black;
	font-size: 18px;
	margin-bottom: 10px;
}
.nav ul{
	margin:0;
	list-style: none;
}
#mainnav ul{
	height: 40px;
	padding: 0px;
}
#mainnav ul li{
	text-align: center;
	width: 16.5%;
	padding: 8px 0 ;
	margin: 0px 0px;
	border-left: thin solid white;
}
#mainnav #noborder{
	border-left: none;
}
#mainnav ul li{
	float: left;
}
#mainnav a:link,#mainnav a:visited{
	color: white;
	text-decoration: none;
}
#mainnav .selected{
	background-color: #f6f908;
	border-bottom: thick solid #4ace5f;
}
#mainnav .selected a:link,#mainnav .selected a:visited{
	color: black;
	font-weight: bold;
}

div.tableContainer1{
	clear:both;
	display: table;
	border-spacing: 5px 10px;
	vertical-align: left;
}
div.tableRow{
	display: table-row;
	//width:100%;
}
div.tableCell{
	display: table-cell;
	//table-layout: left;
	//padding: 5% 0;
	vertical-align: top;	
}
#zcproject{
	//margin:50px 0px;
	width: 450px;
}
#zch{
	margin-right: 35px;
}
.header2{
	font-size:24px;
	color: #4ace5f;
	display: inline;
}
.navul{
	display: inline;
	margin-left: 50px;
}
.navul ul{
	display: inline;
}
.navul li{
	display: inline;
	list-style: none;
	height: 30px;
	margin: 6px 6px 6px 6px;
}
.navul a:link,.navul a:visited{
	text-decoration: none;
	color: white;
	font-size: 16px;
	background-color: #ccd0cd;
	padding: 5px 5px;
}
.navul li.selected a:link,.navul li.selected a:visited{	
	background-color: #4ace5f;	
}
#subnav{
	padding-bottom: 5px;
	border-bottom: thin solid #ccd0cd;
}
.ssubnav ul{
	padding: 0;
}
.ssubnav li{
	float: left;
}
.ssubnav a:link,.ssubnav a:visited{
	color: #ccd0cd;
	font-size: 15px;
}
.ssubnav .selected a:link,.ssubnav .selected a:visited{
	color: #4ace5f;
}
#yrproject{
	width: 300px;	
	border-left: thin solid #ccd0cd;
	padding-left: 10px;
}

.ssubnav2{
	display: inline;
	margin-left: 10px;
}
.ssubnav2 li{
	float: none;
	display: inline;
}
div#navul2,div#navul2 ul{
	//height: 40px;
	display: block;
	padding: 0;
	margin: 10px 0px;
}
div#navul2 li{
	margin:10px 1px;
}
div.zcholder{
	width: 200px;
	padding:10px 0px;
	border:thin solid #ccd0cd;
}
div.tableContianer{

}
div#zchd{
	margin-top: 10px;
	border-spacing: 5px 10px;
}
img.phimages{
	margin:0px 10px;
}
p.goodsname{
	font-size: 14px;
	color: #4ace5f;
	background-color: #ebeeec;
	padding: 5px 10px;
	padding-left:10px; 
	margin:0px;
}
p.intro,p.time,p.money{
	font-size:12px;
	padding: 0px 10px;
	margin: 0px;
}
div.zcholder span{
}
div.bar{
	width:72px;
	margin:auto;
	margin-top: 10px;
	padding: 0px 6px;
}
div.success{
	width:145px;
}
div.bar span{
	padding:3px 7px;
}
span.success{
	background-color: #f9c308;
	color:black;
	font-size: 14px;
}
span.detail{
	background-color:  #4ace5f;
}
span.detail a:link,span.detail a:visited{
	color: white;
	font-size: 14px;
	text-decoration: none;
}
div.bar span.success{
	display: none;
}
div.success span.success{
	display: inline;
}
div#page{
	display: table-cell;
}
div#page p{
	width: 450px;
	text-align: center;
	margin-bottom: 0px;
}
div#page a:link,div#page a:visited{
	color: #b6b2b2;
	font-size: 14px;
	text-decoration: none;
}
div#page span{
	margin:10px;
}
em{
	font-style: normal;
	color:#f9c308;
	font-size:18px;
}